*{
    font-family: Lato, sans-serif;
    text-decoration: none;
}
/* Navigation Bar */
.navbar {
    background: rgb(255, 255, 255);
    font-family: Arial;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


li{
    list-style: none;
    display: inline-block;
}

li a{
        margin-right: 25px;
        color: black;
}


.work {
    position: absolute;
    width: 57px;
    height: 43px;
    left: 1600px;
    top: 27px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;

    color: #000000;
}

.contact {
    position: absolute;
    width: 71px;
    height: 43px;
    left: 1700px;
    top: 27px;
    
    font-family: 'Heebo';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    text-align: right;
    
    color: #000000;
}
/* Navigation Bar  end*/


/*logo shit*/

.logo {
    position: absolute;
    width: 506px;
    height: 105px;
    left: 700px;
    top: 100px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #21243D;
}

.underlogo {
    position: absolute;
    width: 497px;
    height: 66px;
    left: 650px;
    top: 267px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #21243D;    
}

.mainblock {
    position: absolute;
    width: 1900px;
    height: 450px;
    left: 0px;
    top: 383px;
    background: #EDF7FA;
}

.block1 {
    position: absolute;
    width: 450px;
    height: 350px;
    left: 400px;
    top: 50px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 40px;
}

.block1 p1{
    position: absolute;
    width: 135px;
    height: 44px;
    left: 165px;
    top: 30px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

.block1 p2{
    position: absolute;
    width: 368px;
    height: 117px;
    left: 70px;
    top: 120px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #21243D;
}
.icon1 img{
    position: absolute;
    width: 76px;
    height: 74px;
    left: 30px;
    top: 250px;
    
    background: url(java.png);
    filter: drop-shadow(0px 4px 10px rgba(187, 225, 250, 0.25));
    border-radius: 4px;
}
.icon2 img{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 120px;
    top: 250px;
    
    background: url(java.png);
    filter: drop-shadow(0px 4px 10px rgba(187, 225, 250, 0.25));
    border-radius: 4px;
}
.icon3 img{
    position: absolute;
    width: 76px;
    height: 74px;
    left: 200px;
    top: 250px;
    
    background: url(java.png);
    filter: drop-shadow(0px 4px 10px rgba(187, 225, 250, 0.25));
    border-radius: 4px;
}
.icon4 img{
    position: absolute;
    width: 76px;
    height: 74px;
    left: 290px;
    top: 250px;
    
    background: url(java.png);
    filter: drop-shadow(0px 4px 10px rgba(187, 225, 250, 0.25));
    border-radius: 4px;
}


.block2 {
    position: absolute;
    width: 450px;
    height: 350px;
    left: 1000px;
    top: 50px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 40px;
}

.block2 p1{
    position: absolute;
    width: 135px;
    height: 44px;
    left: 165px;
    top: 30px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

.block2 p2{
    position: absolute;
    width: 368px;
    height: 117px;
    left: 70px;
    top: 120px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #21243D;
}


/*contact*/
.contactme {
    position: absolute;
    height: 21px;
    left: 40.28%;
    right: 40.45%;
    bottom:0;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}
